.card:hover {
  box-shadow: 5px 10px 20px 10px #fff !important;
  transition: all 0.7s linear;
  background-color: #fff;
}

.card {
  /* margin-top: 10px; */
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.card-body {
  padding: 2rem 0 !important;
  background-color: #04338b;
}

.card-body a {
  color: #fff;
}

.card-body a:hover {
  background-color: #04338b;
}

.container {
  background-color: #04338b;
  max-width: 100%;
  padding-top: 5px;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: #fff !important;
}


.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.2);
}
